---
import Layout from "@/layouts/Layout.astro"
import { getCollection, render } from "astro:content"

export async function getStaticPaths() {
	const pages = await getCollection("pages")
	return pages.map(page => ({
		params: { page: page.id },
		props: page,
	}))
}
const page = Astro.props
const { Content } = await render(page)

export const prerender = true
---

<Layout {...page.data} ogImage={page.data.ogImage?.src}>
	<div class="mx-auto">
		<h1 class="text-5xl font-black max-w-[720px]">
			{page.data.title}
		</h1>
		<main class="prose mt-12 prose-lg prose-blue max-w-none">
			<Content />
		</main>
	</div>
</Layout>
